<html xmlns:th="http://www.thymeleaf.org">
<header>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</header>
<body>
<div class="list-group">
        <a href="/security/user" class="list-group-item active">User: user , pass: 1234</a>
        <a href="/security/manager" class="list-group-item">User: manager , pass: 1234</a>
        <a href="/security/admin" class="list-group-item">User: admin , pass: 1234</a>
        <a href="/newuser" class="list-group-item">add user</a>
    </div>
</body>
</html>

